@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark: black;
  --light: white;
  //--dark:white;--light:#000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--dark);
  color: var(--light);
}

body {
  font-family: 'Rubik', sans-serif;
  padding: 4vw 0;
  background: var(--light);
  color: var(--dark);
  @media(max-width: 433px) {
    padding: 0;

  }
}

.one {
  width: 43.625vw;
  height: 100%;
  padding-right: 3vw;
  position: fixed;
  left: 0;
  top: 2vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media(max-width: 433px) {
    width: 100%;
    height: 100vh;
    position: unset;
    left: unset;
    top: unset;
  }
}

.container {
  display: flex;
  justify-content: flex-end;
  @media(max-width: 433px) {
    justify-content: flex-start;
    flex-direction: column;
  }
}

.two {
  width: 55vw;
  height: 120vw;
  padding-left: 3vw;
  border-left: 0.3vw solid var(--dark);
  @media(max-width: 433px) {
    width: 100%;
    height: unset;
    border: none;

    margin-bottom: 31vw;
  }
}

.smile {
  width: 2vw;
  fill: var(--dark);
  @media(max-width: 433px) {
    width: 6vw;

  }
}

.email {
  width: 2vw;
  fill: var(--dark);
  @media(max-width: 433px) {
    width: 6vw;

  }

}

.map {
  width: 2vw;
  fill: var(--dark);
  @media(max-width: 433px) {
    width: 6vw;

  }

}

.telegramm {
  width: 2vw;
  fill: var(--dark);
  @media(max-width: 433px) {
    width: 6vw;

  }
}

.change-theme-toggle {
  position: fixed;
  cursor: pointer;
  top: 2vw;
  right: 2vw;
  @media(max-width: 433px) {
    top: 5vw;
    right: 5vw;
    position: absolute;
  }

  .moon {
    height: 2.5vw;
    fill: var(--dark);

    @media(max-width: 433px) {
      height: 7.5vw;
    }
  }

  .sun {
    height: 3vw;
    fill: var(--dark);
    @media(max-width: 433px) {
      height: 8vw;
    }
  }

}

.change-language-toggle {
  position: fixed;
  top: 2vw;
  left: 2vw;
  cursor: pointer;
  font-size: 1.5vw;
  @media(max-width: 433px) {
    position: absolute;
      top: 5vw;
  left: 5vw;
    font-size: 8vw;
    }
}